*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body
{

    background:rgb(228, 225, 225);
    

}
.clearfix 
    {
        clear: both;
    }

header

{
    background:rgb(253, 8, 8);
    height:70px;
    width:1349PX;
    position:fixed;
    
}
header img
{
    float:right;
    margin:10px;
    height:50px;
    width:45px;
    border-radius: 50%;
    
}
 
header h1
{
    background:rgb(247, 131, 237);
    text-align:center;
    display:inline;
    margin:0 0 0 400px;
    border-radius:0 10px 0 10px;
    
}
header h1:hover
{
    -webkit-transform: translatex(40px) scale(10px) rotate(10deg);
    -webkit-transform: translatex(40px,40px) scale(10px) rotate(10deg);
    background:yellow;
  
    
}
 header span
{
    background:rgb(240, 13, 13);
 border-radius:5px;
    margin: 0px 0px 0px 20px;

}
 
/*start navigation*/
nav 
{
   background:rgb(248, 146, 146);
   font-size: 50px;
   
   
}
nav ul
{
    padding:50px 0 0 0;
    text-align: center;
    
    
}
nav ul li 
{
    display:inline-block;
    margin:0px 0px 0px 20PX;
   
}
nav ul li:after {
    content:" |";
    
}
nav ul li:last-child:after{
    content:""
}
/*end navigation*/
.hed {
    background:green;
    position: relative;
    width:250px;
    text-align:center;
    height:30px;
}
body{
    perspective:600px;
}
.hed:hover
{
    -webkit-transform:translatex(40px); 
    -webkit-transform:translatex(40px)rotatey(30deg) ;
    
    background:yellow;
}
/*start articles*/
article{
    width:70%;
    float: left;
    width:300px;
    padding:30px;
    display:  inline-block;
    
    
}
article.hed
{
    text-align:center;
}
  article section p
{
   margin-top: 10px;
   margin:10px;
   width:250px;
  height:300px;
  text-overflow: ellipsis;
    overflow: hidden;
    background: yellowgreen;
    border: 1px solid;
    box-shadow: 10px 10px 0 yellow;
    padding: 10px;
  
}
article section p:hover
{
    -webkit-transform:translatex(40px); 
    -webkit-transform:translatex(40px)rotatey(30deg) ;
    -webkit-transform:scale3d(4 3 10);
    background:yellow;
}
  article section 
{
    word-wrap:break-word;
    width:200px;
    display:inline-block;
}
/*end articles*/
/*start footer*/
footer 
{
    background:rebeccapurple;
    padding:10px;
    height:90px;
    display:inline-block;
}
footer span.foot
{
    display:inline-block;
    width:200px;
    background:unset;
    padding:5px;
    display:inline-block;
}
footer ul 
{
    background:yellow;
    height:70px
    padding:5px;
    display:inline-block;
    width: 1900px;
}
/*end footer*/
/*start saidebar*/
aside
{
    float:right;
    width:30%;
    text-align:center;
    
}
aside section 
{
    background:rgb(45, 231, 238);
    margin:10px;
    padding:10px;
    height:300px;
    box-shadow: -10px -10px rgb(111, 252, 174),
                10px 10px rgb(247, 107, 107)
}
aside section h2 span
{
    background:rgb(45, 76, 247);
    margin:0;
    border-radius: 10px;
}
aside section p
{
    border:3px;
}
/*end sidebar*/
.proch
{
    background:yellowgreen;
    height:400px;
    width:300px;
    text-align:center;
    border-radius:20px 0 20px 0;
    box-shadow:10px 10px 3px chartreuse;
    
}
.proch p
{
    background:rebeccapurple;
    height:100px;
    width:200px;
    text:red;
    text-align:center;
    box-shadow:10px 10px 3px chartreuse;
    
}
.proch p
{
   transition:all .5S ease-in-out
}
.proch p:hover
{
    -webkit-transform: scale(4, 4) rotatey(30deg) translate(100px, 0px)
}
.proch img
{
    margin:10px;
    padding:10px;
    height:80px;
    width:80px;
    border-radius: 50%;
}


.proch
{
    perspective:600px;
}
.proch img
{
   transition:all .5S ease-in-out
}
.proch img:hover
{
    -webkit-transform: scale(8, 8) rotatey(30deg) translate(100px, 0px) 
}